*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "DM Sans", sans-serif;
}

 /* Nav header section */

.nav-header{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    color: #2887ff;
}
.nav-header-child{
    margin-left: 200px;
    padding-top: 10px;
    cursor: pointer;
}
.nav-section-link{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
 .nav1{
    transition: transform 0.3s ease-in-out;
 }
 .nav1:hover{
    transform: scale(1.1);
 }
 .nav2{
    transition: transform 0.3s ease-in-out;
 }
 .nav2:hover{
    transform: scale(1.1);
 }
 .nav3{
    transition: transform 0.3s ease-in-out;
 }
 .nav3:hover{
    transform: scale(1.1);
 }
 .nav4{
    transition: transform 0.3s ease-in-out;
 }
 .nav4:hover{
    transform: scale(1.1);
 }
 .nav5{
    transition: transform 0.3s ease-in-out;
 }
 .nav5:hover{
    transform: scale(1.1);
 }

.nav-button{
    color: #2887ff;
    margin-right: 300px;
    border-radius: 30px;
    padding: 15px 30px;
    background-color: white;
    border-color: #2887ff;
    cursor: pointer;
}
.nav-button:hover{
    background-color: #2887ff;
    color: white;
}

 /* Home section */

.image-container{
    position: relative; 
    background-image: url(assets/header-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 98%;
    border-radius: 40px;
    margin-left: 15px;
    margin-right: 10px;
}  

/* .home-image-container{
    width: 100%; 
    height: 650px;
    object-fit: cover;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}  */
.text-overlay{
    position: absolute;
    top: 150px;
    margin-left: 380px;
    font-weight: bold; 
}
h1{
    font-size: 70px;
    padding-top: 6px;
    padding-bottom: 10px;
} 
span{
    color: white;
    font-size: 65px;
} 
.flight-icon{
    color: #2887ff;
    font-size: 65px;
}
.button-overlay{
    border: 1px solid black;
    padding: 20px 35px;
    color: white;
    background-color: #2887ff;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-top: 50px;
    cursor: pointer;
}

.button-overlay:hover{
    background-color: #2476da;
}
.fa-circle-play{
    font-size: 35px;
    color: #2887ff;
    margin-left: 10px;
}
.image-overlay{
    background-image: url(assets/header.png);
    background-size: 1500px;
    position: relative;
    height: 700px;
    width: 1090px;
    margin-left: 800px;
    top: 10px;
}

 

 /* About section */

.about-section{
    padding: 175px 0 85px 0;
    text-align: center;
}
h5{
    font-size: 22px;
    padding-bottom: 5px;
}
.image-flex{
    display: flex;
    justify-content: center;
    gap: 55px;
    padding-bottom: 100px;
}
.about-image{
    width: 250px;
    height: 150px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    display: block;
    margin-bottom: 30px;
    cursor: pointer;
} 
.about-image:hover{
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 20px 20px 40px;   
}
.fa-star{
    color: white;
    font-size: 15px;
    
}
.about-icon{
    background-color: #2887ff;
    padding: 5px 5px;
    width: 60px;
    font-size: 15px;
    text-align: center;
    border-radius: 16px;
    margin-left: 180px;
    position: relative;
    bottom: 45px;
    color: white;
}
.image-text{
    text-align: left;
}
.image-text-child{
    padding-left: 25px;
    padding-bottom: 5px;
}
.image-text-paragraph{
    padding-left: 25px;
    color: #737373;
}

 /* Tour section */

 .tour-section{
    height: 200px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .tour-journey{
    padding-right: 650px;
 }
.tour-adventure{
    padding-right: 733px;
    color: black;
}
.tour-section-box{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.tour-section-box1{
    height: 170px;
    width: 380px;
    margin-left: 110px;
    border-radius: 30px;
    background-color: #f3f4f6;
    padding-top: 30px;
    padding-left: 25px;
}
.tour-section-box2{
    height: 170px;
    width: 380px;
    border-radius: 30px;
    background-color: #f3f4f6;
    padding-top: 30px;
    padding-left: 25px;
}
.tour-section-box3{
    height: 170px;
    width: 380px;
    border-radius: 30px;
    background-color: #f3f4f6;
    padding-top: 30px;
    padding-left: 25px;
}
.tour-icon{
    color: #2887ff;
    padding-bottom: 80px;
    

}

/* package section */

.package-section-parent{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-left: 130px;
    margin-bottom: 150px;
  }
.package-child-one{
    height: 500px;
    width: 350px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.package-child-two{
    height: 500px;
    width: 800px;
    margin-left: 22px;
}
.right-side-package{
    font-size: 48px;
    margin-top: 70px;
    margin-bottom: 17px;
}
.right-side-paragraph-one{
    color: #737373;
    font-size: 9px;
    text-align: justify;
    line-height: 17.6px;
}
.right-side-paragraph-two{
    color: #737373;
    font-size: 9px;
    text-align: justify;
    line-height: 17.6px;
    margin-top: 20px;    
    margin-bottom: 40px; 
}
.right-side-paragraph-three{
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-image: url(assets/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
}
.right-side-paragraph-three:hover{
    color: white;
}

.package-section-parent-two{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-left: 145px;
}
.package-box{
    height: 200px;
    width: 380px;
    border-radius: 32px;
    background-color: #f3f4f6;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 70px;
    padding-top: 45px;
    color: #2887ff;
}
.package-box-paragraph{
    color: #737373;
    font-size: 14px;
    padding-top: 20px;
}

 /* Discover section */

 .discover-parent{
    margin-top: 250px;
 }

 .discover-div{
    padding-left: 430px;
 }

.discover-section{
    display: flex; 
    justify-content: center;
    gap: 25px;
    padding-left: 145px;
    margin-top: 80px;
 }
.discover-section-child{
    height: 250px;
    width: 380px;
    border: 1px solid black;
    border-color: #2887ff;
    border-radius: 16px;
    text-align: center;
    padding-top: 30px;
 }
 .discover-section-child:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
 }
 .discover-icon{
    height: 50px;
    width: 50px;
    background-color: #2887ff;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 32px;
    margin-bottom: 10px;
    margin-left: 160px;

 }
 .discover-section-font{
    font-size: 20px;
 }
 .discover-section-paragraph{
    padding-top: 20px;
 }


 /* Contact section */

.contact-parent{
    margin-top: 240px;
    margin-bottom: 80px;
}
.contact-parent-two{
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 130px;
    
}
.contact-flex-parent{
    display: flex;
}
.contact-flex{
    border-radius: 8px;
    width: 380px;
    height: 300px;
    background-color: #f3f4f6;
}
.contact-flex:hover{
    background-color: #2887ff;
}
.contact-paragraph{
    border-radius: 8px;
    height: 200px;
    margin: 5px;
    padding: 50px 5px 5px 15px ;
    background-color: white;
    line-height: 20px;
}
.contact-flex-image{
    width: 60px;
    height: 60px;
    border-radius: 32px;
    margin: 13px 0 0 20px;
}
.contact-h4{
    font-size: 17.6px;
    font-weight: 600;
    color: #0a0a0a;
    padding-top: 23px;
    padding-left: 30px; 
}
.contact-h5{
    font-size: 16px;
    font-weight: 500;
    color: #737373; 
} 



/* Footer section */


.footer-section{
    display: flex; 
    justify-content: center;
    background-color: #f3f4f6;
    padding-bottom: 120px;
}
.footer-div-1{
    height: 300px;
    width: 340px;
    margin-left: 120px;
    line-height: 20px;
}
.footer-div-2{
    height: 300px;
    width: 250px;
}
.footer-div-3{
    height: 300px;
    width: 220px;
}
.footer-div-4{
    height: 300px;
    width: 340px;
}
.footer-text-1{
    margin-top: 80px;
    font-size: 30px;
    cursor: pointer;
}
.footer-text-2{
    margin-top: 75px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 19px;
}
.footer-text-3{
    margin-top: 75px;
    cursor: pointer;
    font-size: 19px;
    padding-bottom: 20px;
}
.footer-text-4{
    margin-top: 75px;
    cursor: pointer;
    font-size: 19px;
    padding-bottom: 20px;
}
.footer-paragraph{
    color: #737373;
    padding-top: 30px;
}
.footer-link{
    list-style: none;
    color: #737373;
    padding-top: 20px;
    padding-left: 20px;
    line-height: 33px;
    cursor: pointer;
}
.footer-contact{
    color: #737373;
    line-height: 35px;
    cursor: pointer;
}
input{
    padding: 15px 97px 15px 15px;
    border-radius: 5px;
    font-size: 15px;
}
.footer-button{
    background-color: #2887ff;
    color: white;
    padding: 15px 120px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.footer-button:hover{
    background-color: #2476da;
}
.last-section{
    color: #737373;
    background-color: #f3f4f6;
    text-align: center;
}


@media(max-width: 768px){

     /* Nav header section */

     
.nav-header{
    height: 60px;
    width:100%;
    padding: 10px 0px 20px 5px;
    background-color: #2887ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.nav-header-child{
    font-size: 17px;
    color: #ffffff;
    margin-left: 20px;
}
.nav-section-link{
    color: #ffffff;
    font-size: 10px;
    padding-top: 15px;
}
.nav-button{
    font-size: 10px;
    margin-right: 20px;
}

     /* <!-- Home section --> */


.image-container{
    margin-right: 70px;
    margin-left: 20px;
    margin-top: 10px;
    width: 95%;
    height: 800px;
}
.text-overlay{
    margin-left: 150px;
    top: 75px;
    text-align: center;
}
.image-overlay{
    height: 290px;
    width: 660px;
    margin-left: 5px;
    top: 500px;
    background-size: 660px;

}



   /* <!-- About section --> */

.about-section{
    padding-bottom: 30px;
    text-align: center;
}   
.image-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    margin-top: 64px;
    padding-left: 70px;
    padding-right: 40px;
}
.about-image{
    width: 200px;
    height: 120px;
}  

    /* <!-- Tour section --> */


.tour-journey{
    padding-right: 90px;   
 }
.tour-adventure{
    padding-right: 170px;
}
.tour-section-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
}
.tour-section-box1{
    width: 250px;
    height: 150px;
    margin-left: 50px;
    padding-top: 120px;
}
.tour-section-box2{
    width: 250px;
    height: 150px;
    padding-top: 120px;
}
.tour-section-box3{
    width: 250px;
    height: 150px;
    margin-left: 50px;
    padding-top: 120px;
}


   /* package section --> */

.package-child-one{
    height: 350px;
    width: 250px;
    margin-top: 140px;
    margin-right: 50px;
}
.package-section-parent{
    margin-left: 30px;
}
.right-side-package{
    font-size: 20px;
}
.package-child-two{
    width: 280px;
    margin-right: 50px;
}
.right-side-package{
    width: 480px;
}
.right-side-paragraph-two{
    margin-top: 10px;
}
.package-section-parent-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    padding-left: 50px;
}
.package-box{
    width: 300px;
    height: 200px;
    
}

     /* Discover section */


.discover-div{
    padding-left: 50px;
}
.discover-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    margin-right: 130px;
    gap: 20px;
}
.discover-section-child{
    width: 300px;
    height: 300px;
    margin-right: 40px;
}


       /* Contact section */

.contact-parent{
    width: 600px;
}  
.contact-parent-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    margin-bottom: 500px;
    margin-right: 120px;
}    
.contact-flex{
    width: 300px;
    height: 350px;
    margin-right: 30px;
}
.contact-paragraph{
    height: 250px;
}
.contact-paragraph{
    line-height: 15px;
}


         /* footer section */


 .footer-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
 } 
 .footer-div-1{
    margin-left: 200px;
 }
 .footer-div-3{
    margin-left: 200px;
    width: 250px;
 }  
 .footer-div-4{
    margin-right: 160px;
 }   
 .footer-button{
    padding: 15px 125px;
 }  

}


 @media(max-width: 360px){

     /* Nav header section */

     
.nav-header{
    height: 60px;
    width:600px;
    padding: 10px 0px 20px 5px;
    background-color: #2887ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.nav-header-child{
    font-size: 17px;
    color: #ffffff;
    margin-left: 20px;
}
.nav-section-link{
    color: #ffffff;
    font-size: 10px;
    padding-top: 15px;
}
.nav-button{
    font-size: 10px;
    margin-right: 20px;
}

/* <!-- Home section --> */


.image-container{
    margin-right: 70px;
    margin-left: 20px;
    margin-top: 10px;
    width: 550px;
    height: 800px;
}
.text-overlay{
    margin-left: 70px;
    top: 75px;
    text-align: center;
}
.image-overlay{
    height: 230px;
    width: 500px;
    margin-left: 25px;
    top: 500px;
    background-size: 500px;
}
/* <!-- About section --> */

.about-section{
    padding-bottom: 30px;
    margin-left: 35px; 
    width: 500px;
}   
.image-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
    margin-top: 64px;
    padding-left: 200px;
    padding-right: 0px;
}
.about-image{
    width: 200px;
    height: 120px;
}  

 /* <!-- Tour section --> */

.tour-section{
    padding-left: 50px;
    width: 600px;
}
.tour-adventure{
    padding-right: 170px;
}
.tour-section-box{
display: flex;
flex-direction: column;
}
.tour-section-box1{
    width: 400px;
    height: 150px;
    margin-left: 85px;
    padding-top: 120px;
}
.tour-section-box2{
    width: 400px;
    height: 150px;
    margin-left: 85px;
    padding-top: 120px;
}
.tour-section-box3{
    width: 400px;
    height: 150px;
    margin-left: 85px;
    padding-top: 120px;
}
 /* package section --> */

.package-child-one{
    height: 500px;
    width: 400px;
    margin-top: 140px;
    margin-left: 60px;
}
.package-section-parent{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.right-side-package{
    font-size: 20px;
}
.package-child-two{
    width: 400px;
    margin-left: 60px;
}
.right-side-package{
    width: 480px;
}
.right-side-paragraph-two{
    margin-top: 10px;
}
.package-section-parent-two{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.package-box{
    width: 450px;
    height: 200px;
    margin-left: 15px;
}

  /* Discover section */


.discover-parent{
    text-align: center;
    width: 500px;
  }
.discover-div{
    padding-left: 50px;
}
.discover-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 130px; */
    gap: 20px;
}
.discover-section-child{
    width: 400px;
    height: 300px;
    margin-left: 250px; 
}


/* Contact section */

.contact-parent{
    width: 500px;
}  
.contact-parent-two{
    display: flex;
    flex-direction: column;
    margin-top: 450px;
    width: 500px;
    align-items: center;
}    
.contact-flex{
    width: 400px;
    height: 350px;
}
.contact-paragraph{
    height: 250px;
}
.contact-paragraph{
    line-height: 15px;
}


 /* footer section */


 .footer-section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 600px;
 } 
 .footer-div-1{
    margin-left: 10px;
    width: 400px;

 }
 .footer-div-2{
    margin-left: 10px;
    width: 400px;

 }
 .footer-div-3{
    margin-left: 10px;
    width: 400px;
 }  
 .footer-div-4{
    margin-left: 140px;
    width: 400px;
 }  
 .footer-button{
    padding: 15px 125px;
 }  

.last-section{
    width: 600px;
}

}
